In [1]:
import scipy as sp
import pandas as pd
import matplotlib

In [2]:
data = pd.read_csv('atherosclerosis.csv')

In [3]:
factors_age = [1,2]
factors_dose =['D1','D2']

In [4]:
mean_1_D1 = data[(data['age']==1)&(data['dose']=='D1')].expr.mean()
mean_1_D2 = data[(data['age']==1)&(data['dose']=='D2')].expr.mean()
mean_2_D1 = data[(data['age']==2)&(data['dose']=='D1')].expr.mean()
mean_2_D2 = data[(data['age']==2)&(data['dose']=='D2')].expr.mean()
mean_1_average = (mean_1_D1+mean_1_D2)/2
mean_2_average = (mean_2_D1+mean_2_D2)/2
mean_D1_average = (mean_1_D1+mean_2_D1)/2
mean_D2_average  = (mean_1_D2+mean_2_D2)/2
means_average = [mean_1_D1, mean_2_D2, mean_1_D1, mean_2_D2]
marginal_mean =  (mean_1_average+mean_2_average)/2

In [5]:
SSF_1 = len(data[data['age']==1])*(mean_1_average - marginal_mean)**2
SSF_2 = len(data[data['age']==2])*(mean_2_average - marginal_mean)**2
SSF_age = SSF_1 + SSF_2

In [6]:
SSF_D1 = len(data[data['dose']=='D1'])*(mean_D1_average - marginal_mean)**2
SSF_D2 = len(data[data['dose']=='D2'])*(mean_D2_average - marginal_mean)**2
SSF_expr = SSF_D1 + SSF_D2

In [7]:
c = 0
SSW = 0
for a in range(2):
    for b in range(2):
        c = a+b
        if (a==1):
            c+=1
        SSW += sum((data[(data['age'] == factors_age[a]) & (data['dose']==factors_dose[b])].expr
                   -means_average[c])**2)

In [8]:
SST = sum((data['expr']-marginal_mean)**2)

In [9]:
SSB = SST-SSF_age-SSF_expr-SSW

In [10]:
df_SSF_age = 1
df_SSF_expr = 1
df_SSW = len(data)-4
df_SSB = 1
df_SST = 64-4+1

In [11]:
mean_sq_SSW = SSW/df_SSW

In [16]:
total_df=pd.DataFrame(data={'Df':[df_SSF_age, df_SSF_expr,df_SST], 'Sum sq':[SSF_age, SSF_expr, SST], 
               'Mean sq':[SSF_age/df_SSF_age, SSF_expr/df_SSF_expr, SST/df_SST], 
                            'F':[SSF_age/mean_sq_SSW,SSF_expr/mean_sq_SSW, '-'],'P': [0.00631, 0.605, '-']})

In [15]:
total_df

   Df       Sum sq     Mean sq         F       P
0   1   197.452754  197.452754   5.96229  0.0631
1   1    16.912241   16.912241  0.510682   0.605
2  61  1805.549496   29.599172         -       -